body {
  background-color: green;
}
  p{
padding: 10px;
}




h1 {
  margin: 20px;
  font-size: large;
  font-weight: bold;
}

h2 {
  background-color: orangered;
}
#first-paragraph { 
  background-color: crimson;
}

p {
  background-color: paleturquoise;
}

ol {
  list-style: decimal;
  margin-left: 25px;
}

ul {
  list-style: disc;
  margin-left: 25px;
}
